# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\do_an_tot_nghiep\Source\service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
