<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>


</head>
<body>
{% block content %}
    <div class="container-fluid">

    <h1 class="mt-4 center"
        style="text-align: center;font-family:Montserrat,serif;font-weight: bold;color: deepskyblue">ỨNG DỤNG PHÂN TÍCH
        DỮ LIỆU DỰ ÁN ĐẦU TƯ</h1>

    <ol class="breadcrumb mb-4">

    </ol>
    <div class="row" style="opacity: 0.75">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Thống kê hoạt động nghiên cứu và phát triển</div>
                <div class="card-footer d-flex align-items-center justify-content-between">

                        <a class="small text-white stretched-link" href="report">
                            Chi tiết
                        </a>

                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Thống kê tỷ lệ hình thức đầu tư dự án</div>
                <br>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Dự báo tỷ lệ chi/lao động tham gia nghiên cứu và phát triển</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Dự báo số liệu xuất khẩu khu công nghệ cao</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>