<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Mylov\AppData\Local\Microsoft\WindowsApps\python.exe %s %s" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
